@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
    font-family: Montserrat, sans-serif;
}

body {
    background: rgba(235, 235, 235, 0.356);

}

.top {
    text-align: center;
    font-size: 170%;

    margin-bottom: 10px;
}

.statussection {
    display: flex;
    justify-content: center;
    border-top: 2px solid #5ac6ac;
    padding-top: 10px;
}

.freeSlot {
    height: 250px;
    width: 150px;
    margin: 20px;
    border-radius: 5%;
    background-color: #7adfb5;
    box-shadow: 2px 2px 8px #555555;
    
    /* text */
    text-align: center;
    font-size: 80%;
}

.inUseSlot {
    height: 250px;
    width: 150px;
    margin: 20px;
    border-radius: 5%;
    background-color: #e67474;
    box-shadow: 2px 2px 8px #555555;
    
    /* text */
    text-align: center;
    font-size: 80%;
}