body {
    background: white;
}

.top {
    text-align: center;
    background-color: blue;

}

.statussection {
    display: flex;
    justify-content: center;
}

.freeSlot {
    height: 250px;
    width: 150px;
    margin: 20px;
    border-radius: 5%;
    background-color: #7adfb5;
    
    /* text */
    text-align: center;
}

.inUseSlot {
    height: 250px;
    width: 150px;
    margin: 20px;
    border-radius: 5%;
    background-color: #d5df7a;
    
    /* text */
    text-align: center;
}