body {
    background: white;
}

.top {
    text-align: center;
}

.status {
    display: flex;
    justify-content: center;
}

.slot {
    height: 250%;
    width: 10%;
    margin: 20px;
    background-color: lime;
    
    /* text */
    text-align: center;
}